body { padding-top: 50px; }

div[control="dossier"] { margin-top: 10px; }
div[control="dossier"]:first-child { margin-top: 0px; }
div[control="dossier"] label { font-weight: normal; width: 60px; margin-right: 8px; }
div[control="document"] button[control="add-dossier"] { margin-top: 10px; }
div[control="document"] button[control="add-dossier"]:first-child { margin-top: 0px; }

