*.pyc
*.mo
*.swp
.*swo
bin
include
lib/python2.7
lib/python-wheels
local
share
local_settings.py
/chaostemple/static
/chaostemple/althingi/management/commands/temp_*
/chaostemple/althingi/xmlcache
/chaostemple/althingi/settings.py
/sql-changes
/pip-selfcheck.json
