{% extends "base_workspace.html" %}
{% load i18n %}
{% load static %}
{% load dossier_tags %}

{% block javascript %}

<script src="{% static 'core/js/dossier_control.js' %}"></script>

<script language="javascript" type="text/javascript">

var MSG_STATUS_UNSAVED = "{% trans 'About to save changes...' %}";
var MSG_STATUS_SAVED = "{% trans 'Changes saved.' %}";
var MSG_STATUS_ERROR = "{% trans 'Could not save notes!' %}";

var fieldstate_css = {% autoescape off %}{% fieldstate_css %}{% endautoescape %}

var ISSUE_ID = {{ issue.id }};
var SETTING_AUTO_MONITOR = {% if user.userprofile.setting_auto_monitor %}true{% else %}false{% endif %};
var HAS_USEFUL_INFO = {% if statistic.has_useful_info %}true{% else %}false{% endif %};
var IS_MONITORED = {% if issue.monitor %}true{% else %}false{% endif %};

$(document).ready(function() {

    var prosearea_editor = document.querySelector('.prosearea-editor');

    // Initial focus.
    prosearea_editor.focus()

    // Unexpected clicks to focus editor.
    $(document).on('click', '[control="dossier-editor"]', function() {
        prosearea_editor.focus();
    });

});

</script>

{% endblock %}

{% block outside_container %}
    {% include 'core/stub/auto_monitor_notification.html' %}
{% endblock %}

{% block content %}

<div control="dossier-file-viewer">

    {% if dossier.document %}
        <iframe src="{% url 'parliament_document' parliament_num dossier.document.doc_num %}" width="100%" height="100%"></iframe>
    {% elif dossier.review %}
        <iframe src="{% url 'parliament_review' parliament_num dossier.review.log_num %}" width="100%" height="100%"></iframe>
    {% endif %}

</div>

<!-- Placed at the bottom-right corner by CSS. -->
<span control="dossier-status"></span>

<div control="dossier-editor">

    <div class="panel panel-default">
        <div class="panel-body" control="dossier-editor-control">
            <button control="dossier-save" type="button" class="btn btn-default" disabled="true">{% trans 'Save' %}</button>
            <button control="dossier-close" type="button" class="btn btn-default">{% trans 'Close' %}</button>
        </div>
    </div>

    {% include 'dossier/stub/dossier_buttons.html' %}

    <div control="prosearea-container">
        <textarea class="prosearea-editor" data-dossier-type="{{ dossier.dossier_type }}" data-doc-num="{{ dossier.document.doc_num }}" data-log-num="{{ dossier.review.log_num }}" name="dossier_notes_{{ dossier.id }}">{% if dossier.notes %}{{ dossier.notes }}{% else %}*{% endif %}</textarea>
    </div>

<div>

{% endblock %}
