{% load i18n %}

<div control="deck-controls">
{% if document.seen or review.seen %}
    <button
            control="delete-dossier"
            {% if document %}data-doc-num="{{ document.doc_num }}"{% endif %}
            {% if review %}data-log-num="{{ review.log_num }}"{% endif %}
            class="btn btn-default btn-xs">
        {% trans 'Mark as New' %}
    </button>
{% else %}
    <button
            control="create-dossier"
            {% if document %}data-doc-num="{{ document.doc_num }}"{% endif %}
            {% if review %}data-log-num="{{ review.log_num }}"{% endif %}
            class="btn btn-default btn-xs">
        {% trans 'Mark as Seen' %}
    </button>
{% endif %}
</div>
