{% load i18n %}

<div class="modal fade" control="grant-access-issue-dialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>{% trans 'Grant Access' %}:</p>
                <p>
                    {% trans 'User' %}:
                    <select control="grant-access-friend-id" class="form-control">
                        <option value=""></option>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user }}</option>
                        {% endfor %}
                    </select>
                    <span style="float: right;">
                        {% trans 'Full Access' %}:
                        <input type="checkbox" control="grant-access-full-access" value="" />
                    </span>
                </p>
                <p>
                    <table style="width: 100%;">
                        <tr>
                            <td>{% trans 'Parliament' %}:</td>
                            <td>{% trans 'Issue' %}:</td>
                        </tr>
                        <tr>
                            <td style="width: 1px;">
                                <select control="grant-access-parliament-num">
                                    {% for parliament in parliaments reversed %}
                                        <option value="{{ parliament.parliament_num }}">{{ parliament.parliament_num }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select control="grant-access-issue-id" class="form-control" style="width: 100%;">
                                    <option value=""></option>
                                    {% for issue in issues %}
                                        <option value="{{ issue.id }}">{{ issue.detailed }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                <button type="button" class="btn btn-primary" control="grant-access-issue-confirmed" data-id="0" data-dismiss="modal">{% trans 'Grant Access' %}</button>
            </div>
        </div>
    </div>
</div>
