{% load i18n %}

<div class="modal fade" control="delete-issue-dossiers-dialog" role="dialog">
    <input type="hidden" id="delete-issue-dossiers-id" value="0" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>{% trans 'Are you sure you want to mark this entire issue as new and delete all dossiers on it?' %}</p>
                <p>{% trans 'Marking an issue as new permanently deletes the issue&apos;s dossiers which include information such as glossaries, knowledge status, etc.' %}</p>
                <p><em><span control="delete-issue-dossiers-name">[issue-name]</span></em></p>
                <p><strong>{% trans 'This action cannot be undone.' %}</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                <button type="button" class="btn btn-danger" control="delete-issue-dossiers-confirmed" data-id="0" data-dismiss="modal">{% trans 'Delete' %}</button>
            </div>
        </div>
    </div>
</div>
