{% load i18n %}
{% load dossier %}

<tr control="issue-container" data-id="{{ issue.id }}">
    <td>
        <span style="float: right;">
            {% if user.is_authenticated %}
                {% include 'core/stub/small/issue_bookmark.html' %}
            {% endif %}
            | <small>{{ issue.get_issue_type_display|capfirst }}</small>
        </span>

        {{ issue.issue_num }}
        | <a href="{% url 'parliament_issue' issue.parliament.parliament_num issue.issue_num %}" target="_blank">
            <strong><span control="issue-name"
                    {% if not show_description %}
                    {% comment %}If description is not shown below, then it should be shown in a tooltip.{% endcomment %}
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="{{ issue.description|capfirst }}"
                    {% endif %}
                    data-id="{{ issue.id }}">{{ issue.name|capfirst }}</span></strong>
        </a>
        {% if show_description and issue.description %}
            <small style="white-space: nowrap;">(<span control="issue-description" data-id="{{ issue.id }}">{{ issue.description }}</span>)</small>
        {% endif %}

        <span style="white-space: nowrap;">
        {% for d in issue.dossier_statistics %}
            <a href="#" control="toggle-user-dossier-statistics"
                    data-user-id="{{ d.user_id }}"
                    data-issue-id="{{ issue.id }}"
                    class="btn btn-xs btn-default">{{ d.user }}</a>
        {% endfor %}
        </span>

        <br />

        <small>{% display_dossier_statistics issue 'small' %}</small>

        {% comment %}
        {% if issue.dossier_statistics %}
            <button control="delete-issue-dossiers" class="btn btn-default btn-xs pull-right" data-session-agenda-item-id="{{ session_agenda_item.id }}" data-id="{{ issue.id }}">{% trans 'Mark as Unopened' %}</button>
        {% endif %}
        {% endcomment %}
    </td>

</tr>
