{% load i18n %}
{% load dossier %}
{% load smart_urls %}

<tr control="issue-container" data-id="{{ issue.id }}">
    <td>
        {% if issue.issue_group == 'A' %}
            <span style="float: right;">
                {% if user.is_authenticated %}
                    {% include 'core/stub/small/issue_bookmark.html' %}
                {% endif %}
            </span>

            {{ issue.issue_num }}
            | <a href="{% breadcrumb_url 'parliament_issue' issue.parliament.parliament_num issue.issue_num %}"><strong><span
                        control="issue-name"
                        data-id="{{ issue.id }}">{{ issue }}</span></strong></a>
            {% if issue.description %}
                <small style="white-space: nowrap;">(<span control="issue-description" data-id="{{ issue.id }}">{{ issue.description }}</span>)</small>
            {% endif %}

            <span style="white-space: nowrap;">
            {% for d in issue.dossier_statistics %}
                <a href="#" control="toggle-user-dossier-statistics"
                        data-user-id="{{ d.user_id }}"
                        data-issue-id="{{ issue.id }}"
                        class="btn btn-xs btn-default">{{ d.user }}</a>
            {% endfor %}
            </span>

            <br />

            <small>
            {{ issue.get_issue_type_display|capfirst }}:
            <span>
            {% with issue.proposers.all.0 as proposer %}
                {% if proposer.person %}
                    <a href="{% breadcrumb_url 'person' proposer.person.slug proposer.person.subslug %}">{{ proposer }}</a>
                {% else %}
                    <a href="#" control="expand-proposer" data-id="{{ proposer.id }}">{{ proposer }}</a>
                {% endif %}
            {% endwith %}
            {% if issue.proposers.all.1 %}<a href="#" control="expand-proposer" data-id="{{ issue.proposers.all.0.id }}">{% trans 'and others' %}</a>{% endif %}
            </span>
            </small>

            <br />

            <div control="statistic-container" class="small-issues" style="display: none;">
                <small>{% display_dossier_statistics issue 'small' %}</small>
            </div>
        {% elif issue.issue_group == 'B' %}
            {% if issue.issue_type == 'um' %}
                {% trans 'Special discussion' %}:
            {% else %}
                B:
            {% endif %}
            <strong><span control="issue-name" data-id="{{ issue.id }}">{{ issue }}</span></strong>
            {% if issue.description %}
                <small style="white-space: nowrap;">(<span control="issue-description" data-id="{{ issue.id }}">{{ issue.description }}</span>)</small>
            {% endif %}
            {% if issue.issue_type == 'um' %}
                <br />
                <small>
                {% trans 'Inquisitor' %}:
                <a href="{% breadcrumb_url 'person' issue.special_inquisitor.slug issue.special_inquisitor.subslug %}">{{ issue.special_inquisitor }}</a>.
                {% trans 'Responder' %}:
                <a href="{% breadcrumb_url 'person' issue.special_responder.slug issue.special_responder.subslug %}">{{ issue.special_responder }}</a> ({{ issue.special_responder_description }}).
                </small>
            {% endif %}
        {% endif %}
    </td>

</tr>
