{% load i18n %}
{% load smart_urls %}
{% load person %}

{% with seat|tenure_ended_prematurely as tenure_ended_prematurely %}
<tr>
    <td>
        <a href="{% breadcrumb_url 'person' person.slug person.subslug %}">{{ person }}</a>
        {% if tenure_ended_prematurely %}
            <small>({% trans 'tenure ended prematurely' %})</small>
        {% endif %}
    </td>
    <td {% if tenure_ended_prematurely %}class="faded-text"{% endif %}>
        <a href="{% breadcrumb_url 'parliament_persons' parliament_num seat.party.slug %}">{{ seat.party }}</a>
    </td>
    <td {% if tenure_ended_prematurely %}class="faded-text"{% endif %}>{{ seat.constituency_mp_num }}. {% trans 'parliamentarian' %}</td>
    <td {% if tenure_ended_prematurely %}class="faded-text"{% endif %}>{{ seat.constituency.name }}</td>
</tr>
{% endwith %}
