{% load i18n %}
{% load committee %}
{% load smart_urls %}

<h2>
    {% if view_name != 'parliament_committee_agenda' %}
        <a href="{% breadcrumb_url 'parliament_committee_agenda' committee_agenda.parliament.parliament_num committee_agenda.committee_id committee_agenda.id %}"><span class="glyphicon glyphicon-resize-full"></span></a>
    {% endif %}
    {{ committee_agenda.committee }}
    <small>
    {% with skipdate as skipdate %}
        {{ committee_agenda|fancy_committee_agenda_timing:skipdate }}
    {% endwith %}
    </small>
</h2>

