{% load i18n %}
{% load static %}
{% load smart_urls %}
{% load dossier_tags %}

<div class="panel panel-default" control="document" data-id="{{ document.id }}">
    <div class="panel-body">
        <div style="float: right;">
            <span class="label label-default">{{ document.doc_num }}. {% trans 'parliamentary document' %}</span>
            <span class="label label-default">{{ document.time_published|date:'SHORT_DATE_FORMAT' }}</span>
        </div>
        <div>
            <span class="glyphicon glyphicon-file"></span>
            <a class="title" href="{{ document.preferred_link }}" target="_blank">{{ document.get_doc_type_display|capfirst }}</a>
            {% if document.html_link %}
                &nbsp;<a target="_blank" href="{{ document.html_link }}"><img src="{% static 'core/img/icons/html.24x24.png' %}" /></a>
            {% endif %}
            {% if document.pdf_link %}
                &nbsp;<a target="_blank" href="{{ document.pdf_link }}"><img src="{% static 'core/img/icons/pdf.24x24.png' %}" /></a>
            {% endif %}
        </div>
        {% if document.proposers.all.count %}
            <div class="proposers">
                <strong>{% trans "Proposers" %}:</strong>
                <span>
                {% for proposer in document.proposers.all %}
                    {% if proposer.person %}
                        <a href="{% breadcrumb_url 'person' proposer.person.slug proposer.person.subslug %}">{{ proposer }}</a>{% if not forloop.last %}, {% endif %}
                    {% else %}
                        <a href="#" control="expand-proposer" data-id="{{ proposer.id }}">{{ proposer }}</a>{% if not forloop.last %}, {% endif %}
                    {% endif %}
                {% endfor %}
                </span>
            </div>
        {% endif %}
    </div>
    {% if document.doc_type|supports_dossier %}
        {% for dossier in document.dossiers.all %}
            <div class="panel-footer" data-dossier-id="{{ dossier.id }}">
                {% include 'core/stub/dossier.html' %}
            </div>
        {% endfor %}
    {% endif %}
</div>
