{% load i18n %}
{% load static %}
{% load smart_urls %}
{% load dossier_tags %}

<div class="panel panel-default" control="document" data-id="{{ document.id }}">
    <div class="panel-body">
        <div style="float: right;">
            <small>
            {% trans 'Parliamentary document' %} {{ document.doc_num }}
            | {{ document.time_published|date:'SHORT_DATE_FORMAT' }}
            </small>
        </div>
        <div>
            <span class="glyphicon glyphicon-file"></span>
            {% if FEATURES.new_dossier_editor %}
                {% if not document.dossiers.all.count and not document.seen %}<span class="label label-danger memo-count">{% trans 'New' %}</span>{% endif %}<a class="title" href="{% breadcrumb_url 'dossier_document' parliament_num document.doc_num %}" data-reload-on-focus="1" data-doc-num="{{ document.doc_num }}" target="_blank">{{ document.get_doc_type_display|capfirst }}</a>
            {% else %}
                <a class="title" href="{{ document.preferred_link }}" target="_blank">{{ document.get_doc_type_display|capfirst }}</a>
            {% endif %}
            {% if document.html_link %}
                &nbsp;<a target="_blank" href="{{ document.html_link }}"><img src="{% static 'core/img/icons/html.24x24.png' %}" /></a>
            {% endif %}
            {% if document.pdf_link %}
                &nbsp;<a target="_blank" href="{{ document.pdf_link }}"><img src="{% static 'core/img/icons/pdf.24x24.png' %}" /></a>
            {% endif %}
        </div>
        {% include 'dossier/stub/deck_controls.html' %}
        {% if document.proposers.all.count %}
            <div class="proposers">
                <strong>{% trans "Proposers" %}:</strong>
                <span>
                {% for proposer in document.proposers.all %}
                    {% if proposer.person %}
                        <a href="{% breadcrumb_url 'person' proposer.person.slug proposer.person.subslug %}">{{ proposer }}</a>{% if not forloop.last %}, {% endif %}
                    {% else %}
                        <a href="#" control="expand-proposer" data-id="{{ proposer.id }}">{{ proposer }}</a>{% if not forloop.last %}, {% endif %}
                    {% endif %}
                {% endfor %}
                </span>
            </div>
        {% endif %}
    </div>

    {% if FEATURES.new_dossier_editor %}
        {% if document.dossiers.all %}
            <div class="panel-footer" control="dossier-deck" data-doc-num="{{ document.doc_num }}">
                {% include 'dossier/stub/deck.html' with dossiers=document.dossiers.all %}
            </div>
        {% endif %}
    {% else %}
        {% for dossier in document.dossiers.all %}
            <div class="panel-footer" data-dossier-id="{{ dossier.id }}">
                {% include 'core/stub/dossier.html' %}
            </div>
        {% endfor %}
    {% endif %}

</div>
