{% load i18n %}

<div class="panel panel-default" control="document" data-id="{{ document.id }}">
    <div class="panel-body">
        <div style="float: right;">
            <span class="label label-info">{{ document.doc_num }}. {% trans 'parliamentary document' %}</span>
            <span class="label label-info">{{ document.time_published|date }}</span>
        </div>
        <div>
            <span class="glyphicon glyphicon-file"></span>
            <a class="title" href="{{ document.pdf_link }}" target="_blank">{{ document.get_doc_type_display|capfirst }}</a>
        </div>
        {% if document.proposers.all.count %}
            <div class="proposers">
                <strong>{% trans "Proposers" %}:</strong>
                {% for proposer in document.proposers.all %}
                    <a href="#">{{ proposer }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% for dossier in document.dossiers.all %}
            {% if dossier.user_id != user.id %}
                <span class="label label-info">{{ dossier.user }}</span>
            {% endif %}
        {% endfor %}
    </div>
    {% if document.mydossier %}
        <div class="panel-footer">
            {% include 'core/stub/dossier.html' with dossier=document.mydossier %}
        </div>
    {% endif %}
</div>
