{% load markdown %}

<ul control="memo-list" data-dossier-id="{{ dossier_id }}" {% if dossier.user == request.user %}class="sortable"{% endif %} style="{% if memos.count == 0 %}display: none;{% endif %}">
    {% for memo in memos %}
        <li control="memo-line" data-id="{{ memo.id }}">
            {% comment %}
                HTML table used to get text field behaving properly - CSS alone did not have the answers.
                We wanted a text field that auto-expands into visible space while still allowing buttons to its left.
                Also we needed it to shrink gracefully as browser window is made smaller and/or page is viewed on a hand-held device.
                CSS alone did not provide the support for this. Table can be replaced if a different solution is found which fulfills these needs.
            {% endcomment %}
            <table>
                <tr>
                    <td>
                        {% if dossier.user == request.user %}
                            <div control="edit-memo-controls" data-id="{{ memo.id }}">
                                <button control="delete-memo" data-id="{{ memo.id }}" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                                <button control="edit-memo-button" data-id="{{ memo.id }}" data-dossier-id="{{ dossier_id }}" class="btn btn-xs btn-default">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </div>
                        {% endif %}
                    </td>
                    <td control="memo-content-container" data-id="{{ memo.id }}">
                        {% if dossier.user == request.user %}
                            <span control="sort-memo" class="glyphicon glyphicon-move handle" style="float: right;"></span>
                        {% endif %}

                        <span control="memo-content-plaintext" data-id="{{ memo.id }}" style="display: none;">{{ memo.content }}</span>
                        <span control="memo-content" data-id="{{ memo.id }}">{{ memo.content|urlize|markdown }}</span>
                        <textarea control="edit-memo-content" data-id="{{ memo.id }}" data-dossier-id="{{ dossier_id }}" maxlength="{{ max_memo_length }}">{{ memo.content }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td control="edit-memo-counter" colspan="2" data-id="{{ memo.id }}">
                        <span control="edit-memo-counter-value">{{ memo.content|length }}</span>/{{ max_memo_length }}
                    </td>
                </tr>
            </table>
        </li>
    {% endfor %}
    <li control="add-memo-line" data-dossier-id="{{ dossier_id }}">
        <table>
            <tr>
                <td style="width: 99%;">
                    <!-- "add-memo-content" and "edit-memo-content" are identical except "add-memo-content" doesn't already have an ID. -->
                    <textarea control="edit-memo-content" data-id="0" data-dossier-id="{{ dossier_id }}" maxlength="{{ max_memo_length }}"></textarea>
                </td>
            </tr>
            <tr>
                <td control="edit-memo-counter" data-id="0">
                    <span control="edit-memo-counter-value">0</span>/{{ max_memo_length }}
                </td>
            </tr>
        </table>
    </li>
 </ul>

