{% load i18n %}
{% load dossier_tags %}

<div control="dossier" data-id="{{ dossier.id }}" data-user-id="{{ dossier.user_id }}">

    {% if dossier.document.doc_type|fieldstate_applicable:'memo' %}
        <div class="btn-group dropdown">
            <button type="button" class="btn btn-sm btn-default" control="toggle-dossier-memos" data-id="{{ dossier.id }}" {% if dossier.memos.all.count == 0 %}disabled="1"{% endif %}>
                <span class="glyphicon glyphicon-comment"></span>
                &nbsp;
                <span control="memo-count" class="label label-{% if dossier.memos.all.count > 0 %}primary{% else %}default{% endif %} memo-count">{{ dossier.memos.all.count }}</span>
            </button>
            <button type="button" class="btn btn-sm btn-default" control="edit-memo-button" data-id="0" data-dossier-id="{{ dossier.id }}"
                        {% if dossier.user != request.user %}disabled="disabled"{% endif %}>
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    {% endif %}

    {% if dossier.document.doc_type|fieldstate_applicable:'knowledge' %}
        <label class="fieldname">{% trans 'Knowledge' %}:</label>
        <div class="btn-group dropup" role="group">
            <button control="dropdown-fieldstate" data-id="{{ dossier.id }}" data-fieldname="knowledge" type="button"
                        {% if dossier.user != request.user %}disabled="disabled"{% endif %}
                        class="btn btn-default btn-sm dropdown-toggle btn-{% fieldstate_css 'knowledge' dossier.knowledge %}" data-toggle="dropdown">
                <span class="display">{{ dossier.get_knowledge_display }}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for knowledgestate in knowledgestates %}
                    <li {% if dossier.knowledge == knowledgestate.0 %}class="active"{% endif %}>
                        <a href="#" control="set-fieldstate" data-dossier-id="{{ dossier.id }}" data-fieldname="knowledge"
                                data-fieldstate="{{ knowledgestate.0 }}">{{ knowledgestate.1 }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if dossier.document.doc_type|fieldstate_applicable:'attention' %}
        <label class="fieldname">{% trans 'Attention' %}:</label>
        <div class="btn-group dropup" role="group">
            <button control="dropdown-fieldstate" data-id="{{ dossier.id }}" data-fieldname="attention" type="button"
                        {% if dossier.user != request.user %}disabled="disabled"{% endif %}
                        class="btn btn-default btn-sm dropdown-toggle btn-{% fieldstate_css 'attention' dossier.attention %}" data-toggle="dropdown">
                <span class="display">{{ dossier.get_attention_display }}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for attentionstate in attentionstates %}
                    <li {% if dossier.attention == attentionstate.0 %}class="active"{% endif %}>
                        <a href="#" control="set-fieldstate" data-dossier-id="{{ dossier.id }}" data-fieldname="attention"
                                data-fieldstate="{{ attentionstate.0 }}">{{ attentionstate.1 }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if dossier.document.doc_type|fieldstate_applicable:'support' %}
        <label class="fieldname">{% trans 'Support' %}:</label>
        <div class="btn-group dropup" role="group">
            <button control="dropdown-fieldstate" data-id="{{ dossier.id }}" data-fieldname="support" type="button"
                        {% if dossier.user != request.user %}disabled="disabled"{% endif %}
                        class="btn btn-default btn-sm dropdown-toggle btn-{% fieldstate_css 'support' dossier.support %}" data-toggle="dropdown">
                <span class="display">{{ dossier.get_support_display }}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for supportstate in supportstates %}
                    <li {% if dossier.support == supportstate.0 %}class="active"{% endif %}>
                        <a href="#" control="set-fieldstate" data-dossier-id="{{ dossier.id }}" data-fieldname="support"
                                data-fieldstate="{{ supportstate.0 }}">{{ supportstate.1 }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if dossier.document.doc_type|fieldstate_applicable:'proposal' %}
        <label class="fieldname">{% trans 'Proposals' %}:</label>
        <div class="btn-group dropup" role="group">
            <button control="dropdown-fieldstate" data-id="{{ dossier.id }}" data-fieldname="proposal" type="button"
                        {% if dossier.user != request.user %}disabled="disabled"{% endif %}
                        class="btn btn-default btn-sm dropdown-toggle btn-{% fieldstate_css 'proposal' dossier.proposal %}" data-toggle="dropdown">
                <span class="display">{{ dossier.get_proposal_display }}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for proposalstate in proposalstates %}
                    <li {% if dossier.proposal == proposalstate.0 %}class="active"{% endif %}>
                        <a href="#" control="set-fieldstate" data-dossier-id="{{ dossier.id }}" data-fieldname="proposal"
                                data-fieldstate="{{ proposalstate.0 }}">{{ proposalstate.1 }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if dossier.user == request.user %}
        <button control="delete-dossier" class="btn btn-default btn-xs pull-right" data-id="{{ dossier.id }}">{% trans 'Mark as New' %}</button>
    {% else %}
        <span class="label label-default pull-right">{{ dossier.user }}</span>
    {% endif %}
</div>

<div control="dossier-memos" data-id="{{ dossier.id }}" data-user-id="{{ dossier.user_id }}">
    {% include 'core/stub/dossier_memos.html' with memos=dossier.memos.all dossier_id=dossier.id %}
</div>
