{% load i18n %}
{% load issue %}
{% comment %}
Requires 'issue_control.js' JavaScript to work, which should be included in all issue listings anyway.
{% endcomment %}
<div class="navbar navbar-default">
    <div class="container-fluid">
        {% for issue_type, issue_type_display in issues|issue_types %}
            <button type="button"
                    class="btn btn-default btn-sm navbar-btn"
                    control="issue-type-toggle"
                    data-issue-type="{{ issue_type }}"
                    is-interesting="{% if issue_type|is_interesting %}true{% else %}false{% endif %}">
                <span class="glyphicon glyphicon-ok grey"></span>
                {{ issue_type_display|capfirst }}
            </button>
        {% endfor %}
        <div class="pull-right">
            <button type="button" class="btn btn-default btn-xs navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">... <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right checkboxes">
                <li><a><label><input type="checkbox" control="proposer-type-toggle" value="government" skip-switch="true" autocomplete="off"/> {% trans 'Government issues' %}</label></a></li>
                <li><a><label><input type="checkbox" control="proposer-type-toggle" value="parliamentarian" skip-switch="true" autocomplete="off" /> {% trans 'Parliamentarian issues' %}</label></a></li>
            </ul>

        </div>
    </div>

</div>
