{% load i18n %}
{% load dossier %}

<div class="panel panel-default" control="issue">
    {% if issue.issue_group == 'A' %}
        <div class="panel-heading">{{ issue.get_issue_type_display|capfirst }}</div>
        <div class="panel-body">
            <p>
                <a href="{% url 'parliament_issue' issue.parliament.parliament_num issue.issue_num %}" target="_blank">{{ issue.name|capfirst }}</a>
                {% if issue.description %}
                    <small>({{ issue.description }})</small>
                {% endif %}
            </p>
            <p>
                <span class="label label-primary">{{ issue.issue_num }}. {% trans 'parliamentary issue' %}</span>
                <span class="label label-default">{% trans 'Reviews' %}: {{ issue.review_count }}</span>
                <span class="label label-default">{% trans "Parliamentary Documents" %}: {{ issue.document_count }}</span>
            </p>
            <p>
                {% display_dossier_statistics issue %}
            </p>
        </div>
        {% if user.is_authenticated %}
            <div class="panel-footer">
                {% include 'core/stub/issue_bookmark.html' %}
            </div>
        {% endif %}
    {% elif issue.issue_group == 'B' %}
        <div class="panel-body">{{ issue.name|capfirst }}</div>
    {% endif %}
</div>
