{% load i18n %}
{% load dossier_tags %}
{% load smart_urls %}
{% load issue %}

<div control="issue-container" data-id="{{ issue.id }}">
    <div class="panel panel-default" control="issue">
        {% if session_agenda_item %}
            {% include 'core/stub/session_agenda_item_header.html' %}
        {% elif committee_agenda_item %}
            {% include 'core/stub/committee_agenda_item_header.html' %}
        {% elif upcoming_sessions %}
            {% include 'core/stub/issue_upcoming_sessions_header.html' %}
        {% elif upcoming_committee_agendas %}
            {% include 'core/stub/issue_upcoming_committee_agendas_header.html' %}
        {% endif %}
        {% if issue.issue_group == 'A' %}
            <div class="panel-body">
                <p class="pull-right">
                    {% if issue.time_published %}
                        <span class="label label-default">{{ issue.time_published|date:'SHORT_DATE_FORMAT' }}</span>
                    {% endif %}
                    <span class="label label-default">{{ issue.get_issue_type_display|capfirst }}</span>
                    {% if issue.fate %}
                        <span class="label label-{% if issue.fate == 'accepted' %}success{% elif issue.fate == 'rejected' %}danger{% elif issue.fate == 'sent-to-government' %}info{% else %}primary{% endif %}">
                            {{ issue.get_fate_display|capfirst }}
                        </span>
                    {% endif %}
                </p>
                <p>
                    {{ issue.issue_num }}
                    | <a href="{% breadcrumb_url 'parliament_issue' issue.parliament.parliament_num issue.issue_num %}">
                        <strong><span control="issue-name" data-id="{{ issue.id }}">{{ issue }}</span></strong>
                    </a>
                    {% if issue.description %}
                        <small>(<span control="issue-description" data-id="{{ issue.id }}">{{ issue.description }}</span>)</small>
                    {% endif %}
                </p>
                <p class="pull-right" style="clear: right;">
                    <small>
                    {% trans 'Reviews' %}: <strong>{{ issue.review_count }}</strong>
                    | {% trans 'Parliamentary Documents' %}: <strong>{{ issue.document_count }}</strong>
                    {% if issue.current_step %}
                        | {% trans 'Status' %}: <strong>{{ issue.get_current_step_display }}</strong>
                    {% endif %}
                    {% with issue|review_deadline as deadline %}
                        {% if deadline %}
                            | {% trans 'Review deadline' %}: <strong>{{ deadline }}</strong>
                        {% endif %}
                    {% endwith %}
                    </small>
                </p>
                <p>
                    <small>
                    <strong>{% trans "Proposers" %}:</strong>
                        <span>
                        {% with issue.proposers.all.0 as proposer %}
                            {% if proposer.person %}
                                <a href="{% breadcrumb_url 'person' proposer.person.slug proposer.person.subslug %}">{{ proposer }}</a>
                            {% else %}
                                <a href="#" control="expand-proposer" data-id="{{ proposer.id }}">{{ proposer }}</a>
                            {% endif %}
                        {% endwith %}
                        {% if issue.proposers.all.1 %}<a href="#" control="expand-proposer" data-id="{{ issue.proposers.all.0.id }}">{% trans 'and others' %}</a>{% endif %}
                        </span>
                    </small>
                </p>
                <p>
                    {% display_dossier_statistics issue %}
                </p>
            </div>
            {% if user.is_authenticated %}
                <div class="panel-footer">
                    {% include 'core/stub/issue_bookmark.html' %}

                    {% if issue.dossier_statistics %}
                        <button control="delete-issue-dossiers" class="btn btn-default btn-xs pull-right" data-session-agenda-item-id="{{ session_agenda_item.id }}" data-id="{{ issue.id }}">{% trans 'Mark as Unopened' %}</button>
                    {% endif %}
                </div>
            {% endif %}
        {% elif issue.issue_group == 'B' %}
            <div class="panel-body">
                <div class="pull-right">
                    <span class="label label-default">{{ issue.get_issue_type_display|capfirst }}</span>
                    <span class="label label-default">{% trans 'B-issue' %}</span>
                </div>

                <strong>{{ issue }}</strong>

                <br />

                {% if issue.issue_type == 'um' %}
                    <small>
                    {% trans 'Inquisitor' %}:
                    <a href="{% breadcrumb_url 'person' issue.special_inquisitor.slug issue.special_inquisitor.subslug %}">{{ issue.special_inquisitor }}</a>.
                    &nbsp;
                    {% trans 'Responder' %}:
                    <a href="{% breadcrumb_url 'person' issue.special_responder.slug issue.special_responder.subslug %}">{{ issue.special_responder }}</a> ({{ issue.special_responder_description }}).
                    </small>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
