{% load i18n %}


<p class="alert alert-info">
    {% trans 'You may request membership of a group below. Any user in that group may approve or reject your request.' %}
</p>

<p>
    <select control="membership-request-group-id" style="min-width: 250px;" {% if not groups %}disabled="1"{% endif %}>
    {% for group in groups %}
        <option value="{{ group.id }}">{{ group }}</option>
    {% endfor %}
    </select>

    <button type="submit" class="btn btn-primary" control="request-membership" {% if not groups %}disabled="1"{% endif %}>
        {% trans 'Apply' %}
    </button>
</p>

{% if membership_requests %}
    <h4>{% trans 'Pending membership requests' %}</h4>
    {% for mr in membership_requests %}
        <p>
            <button type="button" control="withdraw-membership-request" data-group-id="{{ mr.group_id }}" class="btn btn-xs btn-danger">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
            {{ mr.group }}
        </p>
    {% endfor %}
{% endif %}
