{% load i18n %}

<div class="panel panel-default" control="review" data-id="{{ review.id }}">
    <div class="panel-body">
        {% if review.committee %}
            <div style="float: right;">
                <a class="label label-default" href="{% url 'parliament_committee' review.issue.parliament.parliament_num review.committee.id %}">{{ review.committee|capfirst }}</a>
                <span class="label label-default">{{ review.date_arrived|date }}</span>
            </div>
        {% endif %}
        <div>
            <span class="glyphicon glyphicon-inbox"></span>
            <a class="title" href="{{ review.pdf_link }}" target="_blank">{{ review.sender_name }}</a>
            <small>({{ review.get_review_type_display }})</small>
        </div>
    </div>
    {% for dossier in review.dossiers.all %}
        <div class="panel-footer" data-dossier-id="{{ dossier.id }}">
            {% include 'core/stub/dossier.html' %}
        </div>
    {% endfor %}
</div>

