{% load i18n %}
{% if session_agenda_item %}
    <div class="alert alert-info alert-small" control="agenda-item" data-id="{{ session_agenda_item.id }}">
        <span class="subitem">{{ session_agenda_item.order }}. {% trans 'agenda item' %}</span>
        {% if session_agenda_item.get_discussion_type_display %}
            <span class="subitem">
                {{ session_agenda_item.get_discussion_type_display|capfirst }}
                {% if session_agenda_item.discussion_continued %}
                    ({% trans 'continued' %})
                {% endif %}
            </span>
        {% endif %}
        {% if session_agenda_item.comment_text %}
            <span class="subitem">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <strong>({{ session_agenda_item.comment_text }})</strong>
            </span>
        {% endif %}
    </div>
{% endif %}
