{% load i18n %}
<div class="issue">
    {% if issue.issue_group == 'A' %}
        <div class="issue-num">{{ issue.issue_num }}</div>
        <div class="issue-name"><a href="{% url 'parliament_issue' issue.parliament.parliament_num issue.issue_num %}">{{ issue.name|capfirst }}</a></div>
        <div class="issue-type">{% trans "Type" %}: {{ issue.get_issue_type_display|capfirst }}</div>
        <div class="issue-document-count">{% trans "Parliamentary Documents" %}: {{ issue.document_count }}</div>
        <div class="issue-review-count">{% trans "Reviews" %}: {{ issue.review_count }}</div>
    {% elif issue.issue_group == 'B' %}
        <div class="issue-name">{{ issue.name|capfirst }}</div>
    {% endif %}
</div>
