{% if attention == 'n' %}
    <span class="label label-info">
        <span class="glyphicon glyphicon-asterisk"></span> {{ attention_display }}
    </span>
{% elif attention == 'q' %}
    <span class="label label-warning">
        <span class="glyphicon glyphicon-question-sign"></span> {{ attention_display }}
    </span>
{% elif attention == 'a' %}
    <span class="label label-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> {{ attention_display }}
    </span>
{% endif %}
