{% load i18n %}

<div class="panel panel-default" control="document" data-id="{{ document.id }}">
    <div class="panel-body">
        <p><a href="{{ document.pdf_link }}" target="_blank">{{ document.get_doc_type_display|capfirst }}</a></p>
        {% if document.proposers.all.count %}
            <p>
                <strong>{% trans "Proposers" %}:</strong>
                {% for proposer in document.proposers.all %}
                    <a href="#">{{ proposer }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
        <span class="label label-primary">{{ document.doc_num }}. {% trans 'parliamentary document' %}</span>
        <span class="label label-default">{{ document.time_published|date }}</span>
    </div>
    {% if user.is_authenticated %}
        <div class="panel-footer">
            {% for dossier in document.dossiers.all %}
                {% include 'core/stub/stub_dossier.html' %}
            {% endfor %}
            <button type="button" class="btn btn-default btn-xs" control="add-dossier" data-document-id="{{ document.id }}" {% if document.id in my_dossiered_documents %}style="display: none;"{% endif %}>{% trans 'Add' %}</button>
        </div>
    {% endif %}
</div>

