{% load i18n %}

<div class="document" data-document-id="{{ document.id }}">
    <div class="document-timing">{{ document.time_published|date }}</div>
    <div class="document-id">
        <a href="{{ document.pdf_link }}" target="_blank">{{ document.doc_num }}</a>
    </div>
    <div class="document-type">{{ document.get_doc_type_display }}</div>
    {% if document.proposers.all.count %}
        <div class="document-proposers">
            <label>{% trans "Proposers" %}:</label>
            {% for proposer in document.proposers.all %}
                {{ proposer }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="btn-add-dossier-container btn-add-dossier-container-hidden">
        <a class="btn-add-dossier">{% trans 'Add' %}</a>
    </div>
</div>

{% if user.is_authenticated %}

    <div class="dossier-container" data-document-id="{{ document.id }}">
        {% for dossier in document.dossiers.all %}
            {% include 'core/stub/stub_dossier.html' %}
        {% endfor %}
    </div>

{% endif %}

