{% load i18n %}

<div class="document">
    <div class="document-timing">{{ document.time_published|date }}</div>
    <div class="document-id">
        <a href="{{ document.pdf_link }}" target="_blank">{{ document.doc_num }}</a>
    </div>
    <div class="document-type">{{ document.get_doc_type_display }}</div>
    {% if document.proposers.all.count %}
        <div class="document-proposers">
            <label>{% trans "Proposers" %}:</label>
            {% for proposer in document.proposers.all %}
                {{ proposer }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>

{% if user.is_authenticated %}

    <div class="document-dossier" data-parliament-num="{{ parliament_num }}" data-document-num="{{ document.doc_num }}">
        {% for dossier in document.dossiers.all %}
            <div class="user">{{ dossier.user }}</div>
            <div class="attention-state">
                [
                {% for attentionstate in dossier.ATTENTION_STATES %}
                    <a data-attentionstate="{{ attentionstate.0 }}" class="{% if dossier.attention == attentionstate.0 %}selected{% endif %}">{{ attentionstate.1 }}</a>
                    {% if not forloop.last %}|{% endif %}
                {% endfor %}
                ]
            </div>
            <div class="knowledge-state">
            </div>
        {% endfor %}
    </div>

{% endif %}

