{% load i18n %}

<div control="user-lookup" class="input-group">
    <input control="search-field" type="text" class="form-control" placeholder="{% trans 'Look up user...' %}" />
    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
        <ul control="user-list" class="dropdown-menu dropdown-menu-right">
            {% for user in lookup_users %}
                <li><a href="#" control="user-entry" data-user-id="{{ user.id }}" data-username="{{ user.username }}">{{ user }}</a></li>
            {% endfor %}
            <li control="no-results" style="display: none;"><a><em>{% trans 'No results' %}</em></a></li>
        </ul>
        <button control="select-user" type="button" value="0" class="btn btn-primary" disabled="disabled">{% trans 'Select' %}</button>
    </div>
</div>

