{% load i18n %}

<table class="table">
    <tr>
        <th>
            <button control="grant-access-issue" class="btn btn-xs btn-default">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </th>
        <th>{% trans 'User' %}</th>
        <th>{% trans 'Issues' %}</th>
        <th style="text-align: right;">{% trans 'Full Access' %}</th>
    </tr>
    {% for access in access_list %}
        <tr>
            <td style="width: 1px;">
                <button control="revoke-access-user" class="btn btn-xs btn-danger"
                        data-friend-id="{{ access.friend_id }}"
                        data-friend-name="{{ access.friend.userprofile }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
            <td><strong>{{ access.friend.userprofile }}</strong></td>
            <td>
                <button control="grant-access-issue" class="btn btn-xs btn-default"
                        data-friend-id="{{ access.friend_id }}"
                        data-friend-name="{{ access.friend.userprofile }}">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>

                {{ access.issues.count }}
            </td>
            <td style="text-align: right;">
                <input type="checkbox" control="toggle-full-access" {% if access.full_access %}checked="checked"{% endif %}
                        data-friend-id="{{ access.friend_id }}"  />
            </td>
        </tr>
        {% for issue in access.issues.all %}
            <tr>
                <td style="width: 1px;">
                    <button control="revoke-access-issue" class="btn btn-xs btn-danger"
                            data-friend-id="{{ access.friend_id }}"
                            data-friend-name="{{ access.friend.userprofile }}"
                            data-issue-id="{{ issue.id }}"
                            data-issue-name="{{ issue }}{% if issue.description %} ({{ issue.description }}){% endif %}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
                <td colspan="3">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    {% include 'core/stub/micro/issue.html' %}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
