{% extends "base.html" %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}

{% if validlink %}

<form method="post">
    {% csrf_token %}

    <div class="alert alert-info">{% trans "Enter your new password below to reset your password:" %}</div>

    {% include 'core/render_form_short.html' %}

    <button class="btn btn-primary" type="submit">{% trans 'Save' %}</button>

{% else %}

    <p>{% trans 'Password reset unsuccessful.' %}</p>
    <p><a class="btn btn-primary" href="{% url 'auth_password_reset' %}">{% trans 'Try again' %}</a></p>

{% endif %}

{% endblock %}
