{% load i18n %}
{% load static %}
{% load jsonizer %}
{% load smart_urls %}
{% load committee %}
{% load session %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/png" href="{% static 'core/img/favicon.png' %}"/>
        <!--
        <link rel="icon" href="../../favicon.ico">
        -->

        <title>{{ PROJECT_NAME }} {{ PROJECT_VERSION }}</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'core/js/bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'core/js/bootstrap-switch-3.3.2/css/bootstrap3/bootstrap-switch.min.css' %}" rel="stylesheet" />

        <!-- Select2 CSS -->
        <link href="{% static 'core/js/select2-4.0.2/dist/css/select2.min.css' %}" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="{% static 'core/css/chaostemple.css' %}" rel="stylesheet" />

    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">{{ PROJECT_NAME }}</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ parliament_num }}. {% trans 'parliament' %} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                            {% for parliament in parliaments %}
                                <li role="presentation"><a href="{% parliament_url parliament.parliament_num %}">{{ parliament.parliament_num }}. {% trans 'parliament' %} <small>({{ parliament.era }})</small></a></li>
                            {% endfor %}
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Current and Upcoming' %} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'day' %}"><strong>{% blocktrans %}Today's issues{% endblocktrans %}</strong></a></li>
                                {% if next_sessions.count or next_committee_agendas.count %}
                                    <li><a href="{% url 'upcoming' %}"><strong>{% trans 'Upcoming Issues' %}</strong></a></li>
                                    <li><a href="{% url 'parliament_documents_new' parliament_num %}"><strong>{% trans 'New Parliamentary Documents' %}</strong></a></li>
                                    <li class="divider"></li>
                                    {% if next_sessions.count %}
                                        <li role="presentation"><a href="{% url 'parliament_sessions' newest_parliament_num %}"><strong>{% trans 'Parliamentary Sessions' %}</strong></a></li>
                                        {% for session in next_sessions %}
                                            {% ifchanged session.timing_start_planned|date:'SHORT_DATE_FORMAT' %}
                                                {% if session.timing_start_planned %}
                                                    <li role="presentation" class="dropdown-header">{{ session.timing_start_planned|date:'SHORT_DATE_FORMAT' }}</li>
                                                {% endif %}
                                            {% endifchanged %}
                                            <li role="presentation">
                                                <a href="{% url 'parliament_session' session.parliament.parliament_num session.session_num %}">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;{{ session.name }},
                                                    {% with True as skipdate %}
                                                        <small><em>{{ session|fancy_session_timing:skipdate }}</em></small>
                                                    {% endwith %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                    {% if next_committee_agendas.count %}
                                        <li role="presentation"><a href="{% url 'parliament_committees' newest_parliament_num %}"><strong>{% trans 'Committee Meetings' %}</strong></a></li>
                                        {% for agenda in next_committee_agendas %}
                                            {% ifchanged agenda.timing_start_planned|date:'SHORT_DATE_FORMAT' %}
                                                <li role="presentation" class="dropdown-header">{{ agenda.timing_start_planned|date:'SHORT_DATE_FORMAT' }}</li>
                                            {% endifchanged %}
                                            <li role="presentation">
                                                <a href="{% url 'parliament_committee_agenda' agenda.parliament.parliament_num agenda.committee_id agenda.id %}">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;{{ agenda.committee }},
                                                    {% with True as skipdate %}
                                                        <small><em>{{ agenda|fancy_committee_agenda_timing:skipdate }}</em></small>
                                                    {% endwith %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </li>

                        <li class="dropdown" control="open-issue-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Opened Issues' %} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'user_issues_open' parliament_num %}"><strong>{% trans 'Opened Issues' %}</strong></a></li>
                                <li class="divider"></li>
                                {% if incoming_issues %}
                                    <li><a href="{% url 'user_issues_incoming' %}"><strong>{% trans 'Issues with new data' %}</strong></a></li>
                                    {% for issue in incoming_issues %}
                                        <li>
                                            <a href="{% url 'parliament_issue' issue.parliament.parliament_num issue.issue_num %}?from={% crumb_string 'user_issues_incoming' %}">
                                                {% include 'core/stub/issue_menuentry.html' %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li class="dropdown-header">({% trans 'No incoming data' %})</li>
                                {% endif %}
                            </ul>
                        </li>

                        <li class="dropdown" control="bookmark-menu" {% if not bookmarked_issues %}style="display: none;" {% endif %}>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Bookmarks' %} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% include 'core/stub/issue_bookmark_menuitems.html' %}
                            </ul>
                        </li>

                    </ul>

                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Lists' %} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'parliament_issues' parliament_num %}">{% trans 'Issues' %}</a></li>
                                <li><a href="{% url 'parliament_categories' parliament_num %}">{% trans 'Categories' %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'parliament_sessions' parliament_num %}">{% trans 'Parliamentary Sessions' %}</a></li>
                                <li><a href="{% url 'parliament_committees' parliament_num %}">{% trans 'Standing Committees' %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'parliament_persons' parliament_num %}">{% trans 'Parliamentarians and ministers' %}</a></li>
                                <li><a href="{% url 'parliament_parties' parliament_num %}">{% trans 'Parliamentary Parties' %}</a></li>
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.userprofile }} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'user_home' %}">{% trans 'User Home' %}</a></li>
                                    <li><a href="{% url 'user_access' %}">{% trans 'Access' %}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li {% if view_name == 'registration_register' %}class="active"{% endif %}><a href="{% url 'registration_register' %}">{% trans "Sign up" %}</a></li>
                            <li {% if view_name == 'login' %}class="active"{% endif %}><a href="{% url 'auth_login' %}">{% trans "Login" %}</a></li>
                        {% endif %}
                    </ul>

                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">

            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb|breadcrumb_trace_url }}">{{ breadcrumb|breadcrumb_caption }}</a></li>
                {% endfor %}
            </ol>

            {% block content %}{% endblock %}

        </div><!-- /.container -->

        <script type="text/javascript" language="javascript" src="{% static 'core/js/jquery-3.3.1/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" language="javascript" src="{% static 'core/js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" language="javascript" src="{% static 'core/js/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" language="javascript" src="{% static 'core/js/bootstrap-switch-3.3.2/js/bootstrap-switch.min.js' %}"></script>
        <script type="text/javascript" language="javascript" src="{% static 'core/js/select2-4.0.2/dist/js/select2.min.js' %}"></script>
        <script type="text/javascript" language="javascript" src="{% static 'core/js/chaostemple.js' %}"></script>

        <script type="text/javascript" language="javascript">
            // Constants required from server-side by JavaScript
            USER_ID = {% if user.is_authenticated %}{{ user.id }}{% else %}0{% endif %};
            PARLIAMENT_NUM = {{ parliament_num }};
            LANGUAGE_CODE = '{{ LANGUAGE_CODE }}';

            $.fn.bootstrapSwitch.defaults.onText = '{% trans "Yes" %}';
            $.fn.bootstrapSwitch.defaults.offText = '{% trans "No" %}';
            $.fn.bootstrapSwitch.defaults.size = 'mini';

            $(document).ready(function() {
                // Make <select> items filterable with Select2 by default
                $('select').select2({
                    'language': {
                        'noResults': function() { return "{% trans 'No results found' %}"; }
                    }
                });

                // Make checkboxes cool by default
                $('input[type="checkbox"][skip-switch!="true"]').bootstrapSwitch();

                // Enable Bootstrap tooltips
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

        {% comment %}
        Load subscription JavaScript if subscriptions are relevant to this
        page. This is determined by checking whether a template variable named
        'subscriptions' is available.
        {% endcomment %}
        {% if subscriptions is not None %}
            <script language="javascript" type="text/javascript">
                var subscriptions = [];
                {% for subscription in subscriptions %}
                    subscriptions.push({
                        'type': '{{ subscription.sub_type }}',
                        'id': {{ subscription.subscribed_thing.id }},
                    });
                {% endfor %}
            </script>
            <script language="javascript" type="text/javascript" src="{% static 'core/js/subscription.js' %}"></script>
        {% endif %}

        {% block javascript %}{% endblock %}

        {% include_jsonizer %}

    </body>
</html>

