{% load static %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" type="image/png" href="{% static 'core/img/favicon.png' %}"/>
<!--
<link rel="icon" href="../../favicon.ico">
-->

<title>{% if page_title %}{{ page_title }}{% else %}{{ PROJECT_NAME }} {{ PROJECT_VERSION }}{% endif %}</title>

<!-- Bootstrap core CSS -->
<link href="{% static 'core/js/bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'core/js/bootstrap-switch-3.3.2/css/bootstrap3/bootstrap-switch.min.css' %}" rel="stylesheet" />

<!-- Select2 CSS -->
<link href="{% static 'core/js/select2-4.0.13/dist/css/select2.min.css' %}" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="{% static 'core/css/chaostemple.css' %}" rel="stylesheet" />
