{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block javascript %}
    <script language="javascript" type="text/javascript" src="{% static 'core/js/issue_control.js' %}"></script>

    {% include 'js-includes/bootstrap-datepicker.html' %}

    <script language="javascript" type="text/javascript">

    $(document).ready(function() {
        var $date_picker_container = $('div[control="date-picker-container"]');
        var $date_picker_button = $date_picker_container.find('button[control="date-picker-button"]');
        var $date_picker_value = $date_picker_container.find('input[control="date-picker-value"]');

        $date_picker_value.datetimepicker({
            locale: LANGUAGE_CODE,
            format: 'YYYY-MM-DD',
            widgetPositioning: {
                horizontal: 'right',
            },

            widgetParent: $date_picker_container,
        }).on('dp.change', function(e) {
            var old_date = e.oldDate.format('YYYY-MM-DD');
            var new_date = e.date.format('YYYY-MM-DD');
            if (old_date != new_date) {
                location.href = '/day/' + new_date + '/';
            }
        });

        $('button[control="date-picker-button"]').on('click', function() {
            $date_picker_value.data('DateTimePicker').toggle();
        });
    });

    </script>
{% endblock %}

{% block content %}

    {% include 'core/dialog/dialog_delete_issue_dossiers.html' %}

    <ul class="header-controls">
        <li>
            <div control="date-picker-container">
                <button type="button" control="date-picker-button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-calendar"></span>
                </button>
                <input type="hidden" control="date-picker-value" value="{{ requested_date|date:'Y-m-d' }}" />
            </div>
        </li>
        <li>
            <div class="btn-group btn-group-sm">
                <a href="{% url 'day' requested_yesterday|date:'Y-m-d' %}" class="btn btn-default">{% trans 'Previous day' %}</a>
                <a href="{% url 'day' requested_tomorrow|date:'Y-m-d' %}" class="btn btn-default">{% trans 'Next day' %}</a>
            </div>
        </li>
    </ul>

    <h1>
        {% blocktrans %}Today's issues{% endblocktrans %}
        <small>{{ requested_date|date:'SHORT_DATE_FORMAT' }}</small>
    </h1>

    <div class="row">
        <div class="col-md-6">

            {% for session in sessions %}

                {% include 'core/stub/session_header.html' with skipdate=True %}

                <table class="table">
                {% for session_agenda_item in session.session_agenda_items_loaded %}
                    {% include 'core/stub/small/issue.html' with issue=session_agenda_item.issue session_agenda_item=session_agenda_item %}
                {% endfor %}
                </table>

            {% empty %}
                <em>{% trans 'No sessions on this day.' %}</em>
            {% endfor %}

        </div>

        <div class="col-md-6">

            {% for committee_agenda in committee_agendas %}

                {% include 'core/stub/committee_agenda_header.html' with skipdate=True %}

                <table class="table">
                {% for committee_agenda_item in committee_agenda.committee_agenda_items_loaded %}
                    {% include 'core/stub/small/committee_agenda_item.html' %}
                {% endfor %}
                </table>

            {% empty %}
                <em>{% trans 'No committee agendas on this day.' %}</em>
            {% endfor %}

        </div>
    </div>

{% endblock %}
