{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load committee %}
{% load smart_urls %}

{% block javascript %}
    <script language="javascript" type="text/javascript" src="{% static 'core/js/issue_control.js' %}"></script>
{% endblock %}

{% block content %}

    <h2>{{ committee }}</h2>

    <div class="row">
        <div class="col-md-4">
            <h3>{% trans 'Meetings' %}</h3>
            <table class="table">
                <tr>
                    <th>{% trans 'Timing' %}</th>
                    <th>{% trans 'Items' %}</th>
                </tr>
                {% for agenda in agendas reversed %}
                    <tr>
                        <td>
                            <a href="{% breadcrumb_url 'parliament_committee_agenda' parliament_num agenda.committee_id agenda.id %}">{{ agenda|fancy_committee_agenda_timing }}</a>
                        </td>
                        <td>{{ agenda.item_count }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-md-8">
            <h3>{% trans 'Issues' %}</h3>
            <table class="table">
                {% for issue in issues reversed %}
                    {% include 'core/stub/small/issue.html' %}
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
