{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block javascript %}
    <script language="javascript" type="text/javascript" src="{% static 'core/js/issue_control.js' %}"></script>
{% endblock %}

{% block content %}

    {% include 'core/dialog/dialog_delete_issue_dossiers.html' %}

    {% include 'core/stub/committee_agenda_header.html' %}

    {% for committee_agenda_item in committee_agenda_items %}
        {% include 'core/stub/issue.html' with issue=committee_agenda_item.issue %}
    {% endfor %}

{% endblock %}
