{% extends "base.html" %}
{% load i18n %}
{% load smart_urls %}

{% block content %}

    <h2>{% trans 'Parliamentarians and ministers' %}{% if party %} <small>({{ party }})</small>{% endif %}</h2>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>{% trans 'Parliamentarian' %}</th>
                    <th>{% trans 'Party at end of parliament' %}</th>
                    <th>{% trans 'Parliamentary Seat' %}</th>
                    <th>{% trans 'Constituency' %}</th>
                </tr>
                {% for person in persons %}
                    {% with person.last_seat.0 as last_seat %}
                    {% if last_seat.seat_type == 'þingmaður' or last_seat.seat_type == 'með varamann' or person.last_minister_seats %}
                        {% include 'core/stub/small/person.html' with seat=person.last_seat.0 %}
                    {% endif %}
                    {% endwith %}
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>{% trans 'Deputy Parliamentarian' %}</th>
                    <th>{% trans 'Party at end of parliament' %}</th>
                    <th>{% trans 'Parliamentary Seat' %}</th>
                    <th>{% trans 'Constituency' %}</th>
                </tr>
                {% for person in persons %}
                    {% with person.last_seat.0 as last_seat %}
                    {% if last_seat.seat_type == 'varamaður' %}
                        {% include 'core/stub/small/person.html' with seat=person.last_seat.0 %}
                    {% endif %}
                    {% endwith %}
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
