{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block javascript %}
    <script language="javascript" type="text/javascript" src="{% static 'core/js/issue_control.js' %}"></script>
{% endblock %}

{% block content %}

    {% include 'core/dialog/dialog_delete_issue_dossiers.html' %}

    {% include 'core/stub/session_header.html' %}

    <div id="parliament-session-agenda">
        {% for session_agenda_item in session_agenda_items %}
            {% include 'core/stub/issue.html' with issue=session_agenda_item.issue session_agenda_item=session_agenda_item %}
        {% endfor %}
    </div>

{% endblock %}
