{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load dossier %}

{% block javascript %}
    <script language="javascript" type="text/javascript">

        fieldstate_css = {% fieldstate_css %}

    </script>

    <script language="javascript" type="text/javascript" src="{% static 'core/js/document_control.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'core/js/issue_control.js' %}"></script>
{% endblock %}

{% block content %}

    {% include 'core/dialog/dialog_delete_dossier.html' %}
    {% include 'core/dialog/dialog_delete_memo.html' %}

    <h2>
        {{ issue.name|capfirst }}
        {% if issue.description %}
            <small>({{ issue.description }})</small>
        {% endif %}
    </h2>

    <div>
        {% include 'core/stub/link_althingi_issue.html' with parliament_num=parliament_num issue_num=issue_num %}
        <span class="label label-primary">{{ issue.issue_num }}. {% trans 'parliamentary issue' %}</span>
        <span class="label label-primary">{{ issue.parliament.parliament_num }}. {% trans 'parliament' %}</span>
    </div>

    <div control="issue-view-controls" class="navbar navbar-default">
        <div class="container-fluid">
            <!--
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{% trans 'Issue Portal' %}</a>
            </div>
            -->
            <div class="collapse navbar-collapse">
                {% if issue_committee_agendas.count %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" area-expanded="false">{% trans 'Committee Meetings' %} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for committee_agenda in issue_committee_agendas reversed %}
                                <li><a href="{% url 'parliament_committee_agenda' committee_agenda.parliament.parliament_num committee_agenda.committee.id committee_agenda.id %}">{{ committee_agenda.committee|capfirst }}: {{ committee_agenda.timing_start_planned }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                {% endif %}
                {% if issue_sessions.count %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" area-expanded="false">{% trans 'Parliamentary Sessions' %} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for session in issue_sessions reversed %}
                                <li><a href="{% url 'parliament_session' session.parliament.parliament_num session.session_num %}">{{ session }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                {% endif %}

                {% if issue.previous_issues.count %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" area-expanded="false">{% trans 'Previously published' %} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for previous_issue in issue.previous_issues_ordered %}
                                <li><a href="{% url 'parliament_issue' previous_issue.parliament.parliament_num previous_issue.issue_num %}">
                                    {{ previous_issue.parliament.parliament_num }}. {% trans 'parliament' %}: {{ previous_issue }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                {% endif %}

                {% if issue.future_issues.count %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" area-expanded="false">{% trans 'Later published' %} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for future_issue in issue.future_issues_ordered %}
                                <li><a href="{% url 'parliament_issue' future_issue.parliament.parliament_num future_issue.issue_num %}">
                                    {{ future_issue.parliament.parliament_num }}. {% trans 'parliament' %}: {{ future_issue }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                {% endif %}

                <div class="navbar-right">
                    {% if user.is_authenticated %}
                        {% include 'core/stub/issue_bookmark.html' with extraclasses='navbar-btn' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if issue.summary %}
        <div class="summary">

            <div class="panel panel-info">
                <div class="panel-heading">{% trans 'Summary' %}</div>
                <div class="panel-body">
                    {% if issue.summary.purpose %}
                        <p><strong>{% trans 'Purpose' %}</strong>: {{ issue.summary.purpose|safe }}</p>
                    {% endif %}
                    {% if issue.summary.change_description %}
                        <p><strong>{% trans 'Change Description' %}</strong>: {{ issue.summary.change_description|safe }}</p>
                    {% endif %}
                    {% if issue.summary.changes_to_law %}
                        <p><strong>{% trans 'Changes to Law' %}</strong>: {{ issue.summary.changes_to_law|safe }}</p>
                    {% endif %}
                    {% if issue.summary.cost_and_revenue %}
                        <p><strong>{% trans 'Cost and Revenue' %}</strong>: {{ issue.summary.cost_and_revenue|safe }}</p>
                    {% endif %}
                    {% if issue.summary.other_info %}
                        <p><strong>{% trans 'Other Information' %}</strong>: {{ issue.summary.other_info|safe }}</p>
                    {% endif %}
                    {% if issue.summary.review_description %}
                        <p><strong>{% trans 'Review Description' %}</strong>: {{ issue.summary.review_description|safe }}</p>
                    {% endif %}
                    {% if issue.summary.fate %}
                        <p><strong>{% trans 'Fate' %}</strong>: {{ issue.summary.fate|safe }}</p>
                    {% endif %}
                    {% if issue.summary.media_coverage %}
                        <p><strong>{% trans 'Media Coverage' %}</strong>: {{ issue.summary.media_coverage|safe }}</p>
                    {% endif %}
                </div>
            </div>

        </div>
    {% endif %}

    <h3>{% trans 'Parliamentary Documents' %}</h3>
    <div class="documents">
        {% for document in documents %}
            {% include "core/stub/document.html" %}
        {% endfor %}
    </div>

    {% if reviews.count > 0 %}
        <h3>{% trans 'Reviews' %}</h3>
        <div class="reviews">
            {% for review in reviews %}
                {% include "core/stub/review.html" %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

