{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <ul class="nav nav-pills">
        <li role="presentation"><a href="{% url 'parliament_issues' parliament_num %}">{% trans 'Issues' %}</a></li>
        <li role="presentation"><a href="{% url 'parliament_sessions' parliament_num %}">{% trans 'Parliamentary Sessions' %}</a></li>
        <li role="presentation"><a href="{% url 'parliament_committees' parliament_num %}">{% trans 'Committees' %}</a></li>
        <li role="presentation"><a href="{% url 'parliament_persons' parliament_num %}">{% trans 'Parliamentarians' %}</a></li>
    </ul>

{% endblock %}
