{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load committee %}
{% load smart_urls %}

{% block javascript %}
    <script language="javascript" type="text/javascript" src="{% static 'core/js/issue_control.js' %}"></script>
{% endblock %}

{% block content %}

    <h2>{{ committee }}</h2>

    <div class="row">
        <div class="col-md-4">
            <h3>{% trans 'Meetings' %}</h3>
            <table class="table">
                <tr>
                    <th>{% trans 'Timing' %}</th>
                    <th style="text-align: right;">{% trans 'Items' %}</th>
                </tr>
                {% for agenda in agendas reversed %}
                    <tr>
                        <td>
                            <a href="{% breadcrumb_url 'parliament_committee_agenda' parliament_num agenda.committee_id agenda.id %}">{{ agenda|fancy_committee_agenda_timing }}</a>
                        </td>
                        <td style="text-align: right;">{{ agenda.item_count }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-md-8">
            <h3>
                <a href="{% url 'parliament_committee_issues' parliament_num committee.id %}"><i class="glyphicon glyphicon-resize-full"></i></a>
                {% trans 'Issues' %}
            </h3>
            <table class="table">
                {% for issue in issues reversed %}
                    {% include 'core/stub/small/issue.html' %}
                {% endfor %}
            </table>
        </div>

    </div>
    <div class="row">

        <div class="col-md-4">
            <h3>{% trans 'Committee Members' %}</h3>
            <table class="table">
                {% for person in persons %}
                    {% with person.last_committee_seat.0 as committee_seat %}
                    {% ifchanged committee_seat.committee_seat_type %}
                        {% if committee_seat.committee_seat_type in 'varamaður,kjörinn varamaður' %}
                            <tr><th colspan="2">{% trans 'Deputies' %}</th></tr>
                        {% endif %}
                        {% if committee_seat.committee_seat_type == 'áheyrnarfulltrúi' %}
                            <tr><th colspan="2">{% trans 'Observers' %}</th></tr>
                        {% endif %}
                    {% endifchanged %}
                    <tr>
                        <td>
                            {% with person.last_seat.0.party as party %}
                            <span style="float: right;">
                                <a href="{% breadcrumb_url 'parliament_persons' parliament_num party.slug %}">{{ party.abbreviation_short }}</a>
                            </span>
                            {% endwith %}
                            <a href="{% breadcrumb_url 'person' person.slug person.subslug %}">{{ person }}</a>
                            {% if committee_seat.committee_seat_type in 'formaður,1. varaformaður,2. varaformaður' %}
                                <br />
                                <small>{{ committee_seat.get_committee_seat_type_display|capfirst }}</small>
                            {% endif %}
                        </td>
                    </tr>
                    {% endwith %}
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}
