{% extends "base.html" %}
{% load i18n %}
{% load committee %}
{% load smart_urls %}

{% block content %}

    <h2>{% trans 'Meetings' %}</h2>
    <h3>{{ committee }}</h3>

    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <th>{% trans 'Timing' %}</th>
                    <th>{% trans 'Items' %}</th>
                </tr>
                {% for agenda in agendas reversed %}
                    <tr>
                        <td>
                            <a href="{% breadcrumb_url 'parliament_committee_agenda' parliament_num agenda.committee_id agenda.id %}">{{ agenda|fancy_committee_agenda_timing }}</a>
                        </td>
                        <td>{{ agenda.item_count }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
