{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load dossier %}

{% block javascript %}
    <script language="javascript" type="text/javascript">

        fieldstate_css = {% fieldstate_css %}

    </script>

    <script language="javascript" type="text/javascript" src="{% static 'core/js/document_control.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'core/js/issue_control.js' %}"></script>
{% endblock %}

{% block content %}

    {% include 'core/dialog/dialog_delete_dossier.html' %}
    {% include 'core/dialog/dialog_delete_memo.html' %}

    <h2>
        {{ issue.name|capfirst }}
        {% if issue.description %}
            <small>({{ issue.description }})</small>
        {% endif %}
    </h2>

    {% if user.is_authenticated %}
        <div>
            {% include 'core/stub/issue_bookmark.html' %}
        </div>
    {% endif %}

    <h3>{% trans 'Parliamentary Documents' %}</h3>
    <div class="documents">
        {% for document in documents %}
            {% include "core/stub/document.html" %}
        {% endfor %}
    </div>

    <h3>{% trans 'Reviews' %}</h3>
    <div class="reviews">
        {% for review in reviews %}
            {% include "core/stub/review.html" %}
        {% endfor %}
    </div>

{% endblock %}

