{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block javascript %}
    <script language="javascript" type="text/javascript" src="{% static 'core/js/issue_control.js' %}"></script>
{% endblock %}

{% block content %}

    {% include 'core/stub/issue_type_toggle.html' with open=True %}

    <table class="table">
        {% for issue in issues reversed %}
            {% include 'core/stub/small/issue.html' with start_hidden=True %}
        {% endfor %}
    </table>

{% endblock %}

