{% extends "base.html" %}
{% load i18n %}
{% load smart_urls %}

{% block content %}

    <h2>{% trans 'Parliamentary Parties' %}</h2>

    <div class="row">
        <div class="col-md-6">
            <table class="table">
                {% for party in parties %}
                    <tr>
                        <td>
                            {% if party.special %}
                                <em>{{ party.name }}</em>
                            {% else %}
                                {{ party.name }}
                            {% endif %}
                            <small>({{ party.mp_count }})</small>
                        </td>
                        <td>
                            <a href="{% breadcrumb_url 'parliament_party' parliament_num party.slug %}">
                                {% trans 'More info' %}
                            </a>
                        </td>
                        <td>
                            <a href="{% breadcrumb_url 'parliament_issue_overview' parliament_num 'party' party.slug %}">
                                {% trans 'Issues by MPs' %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
