{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load dossier %}

{% block javascript %}
    <script language="javascript" type="text/javascript">

        attention_css = {% dossier_css 'attention' %};
        knowledge_css = {% dossier_css 'knowledge' %};
        support_css = {% dossier_css 'support' %};

    </script>

    <script language="javascript" type="text/javascript" src="{% static 'core/js/document_control.js' %}"></script>
{% endblock %}

{% block content %}

    {% include 'core/dialog/dialog_delete_dossier.html' %}

    <h2>{{ issue.name|capfirst }}</h2>

    <h3>{% trans 'Parliamentary Documents' %}</h3>
    <div class="documents">
        {% for document in documents %}
            {% include "core/stub/stub_document.html" %}
        {% endfor %}
    </div>

    <h3>{% trans 'Reviews' %}</h3>
    <div class="reviews">
        {% for review in reviews %}
            {% include "core/stub/stub_review.html" %}
        {% endfor %}
    </div>

{% endblock %}

