{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load smart_urls %}

{% block javascript %}
    <script language="javascript" type="text/javascript" src="{% static 'core/js/issue_control.js' %}"></script>
{% endblock %}

{% block content %}

    {% include 'core/dialog/dialog_delete_issue_dossiers.html' %}

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% with seats.last as current_seat %}
                        {% comment %}It's only current if this is true. {% endcomment %}
                        {% if not current_seat.timing_out %}
                            <p style="float: right; text-align: center;">
                                <strong>{{ current_seat.party.name }}</strong><br />
                                <em>
                                {{ current_seat.constituency_mp_num }}. {% trans 'parliamentarian' %}<br />
                                {{ current_seat.constituency.name }}<br />
                                </em>
                            </p>
                        {% endif %}
                    {% endwith %}
                    <h4>
                        {% include 'core/stub/link_althingi_person.html' with person_xml_id=person.person_xml_id %}
                        <strong>{{ person }}</strong><br />
                        <small>({% trans 'b.' %} {{ person.birthdate }})</small>
                    </h4>
                    {% if person.email %}
                        <p>
                            {% trans 'Email address' %}:<br />
                            <a href="mailto:{{ person.email }}">{{ person.email }}</a>
                        </p>
                    {% endif %}
                    {% if person.facebook_url %}
                        <p>
                            {% trans 'Facebook page' %}:<br />
                            <a href="{{ person.facebook_url }}" target="_blank">{{ person.facebook_url }}</a>
                        </p>
                    {% endif %}
                    {% if person.youtube_url %}
                        <p>
                            {% trans 'YouTube channel' %}:<br />
                            <a href="{{ person.youtube_url }}" target="_blank">{{ person.youtube_url }}</a>
                        </p>
                    {% endif %}
                    {% if person.twitter_url %}
                        <p>
                            {% trans 'Twitter page' %}:<br />
                            <a href="{{ person.twitter_url }}" target="_blank">{{ person.twitter_url }}</a>
                        </p>
                    {% endif %}
                    {% if person.blog_url %}
                        <p>
                            {% trans 'Blog site' %}:<br />
                            <a href="{{ person.blog_url }}" target="_blank">{{ person.blog_url }}</a>
                        </p>
                    {% endif %}
                    {% if person.website_url %}
                        <p>
                            {% trans 'Website' %}:<br />
                            <a href="{{ person.website_url }}" target="_blank">{{ person.website_url }}</a>
                        </p>
                    {% endif %}
                </div>
            </div>

            <h3>{% trans 'Seats' %}</h3>
            <table class="table">
                <tr>
                    <th class="nowrap">{% trans 'Time period' %}</th>
                    <th>{% trans 'Party' %}</th>
                    <th>{% trans 'Constituency' %}</th>
                </tr>
                {% for seat in seats reversed %}
                    {% ifchanged seat.parliament.parliament_num %}
                        <tr><th colspan="3">{{ seat.parliament.parliament_num }}. {% trans 'parliament' %}</th></tr>
                    {% endifchanged %}
                    <tr>
                        <td>{{ seat.timing_in|date:'SHORT_DATE_FORMAT' }} - {% if seat.timing_out %}{{ seat.timing_out|date:'SHORT_DATE_FORMAT' }}{% else %}...{% endif %}</td>
                        <td>
                            <a href="{% breadcrumb_url 'parliament_persons' parliament_num seat.party.slug %}">{{ seat.party.abbreviation_long }}</a>
                            ({{ seat.seat_type }})
                        </td>
                        <td>{{ seat.constituency_mp_num }}. {% trans 'MP' %} {{ seat.constituency.abbreviation_long }}</td>
                    </tr>
                {% endfor %}
            </table>

            {% if committee_seats.count %}
            <h3>{% trans 'Committee Seats' %}</h3>
            <table class="table">
                <tr>
                    <th>{% trans 'Time period' %}</th>
                    <th>{% trans 'Committee' %}</th>
                </tr>
                {% for committee_seat in committee_seats reversed %}
                    {% ifchanged committee_seat.parliament.parliament_num %}
                        <tr><th colspan="2">{{ committee_seat.parliament.parliament_num }}. {% trans 'parliament' %}</th></tr>
                    {% endifchanged %}
                    <tr>
                        <td class="nowrap">
                            {{ committee_seat.timing_in|date:'SHORT_DATE_FORMAT' }}
                            - {% if committee_seat.timing_out %}{{ committee_seat.timing_out|date:'SHORT_DATE_FORMAT' }}{% else %}...{% endif %}
                        </td>
                        <td>
                            <a href="{% url 'parliament_committee' committee_seat.parliament.parliament_num committee_seat.committee_id %}">{{ committee_seat.committee }}</a>
                            <span class="nowrap">({{ committee_seat.committee_seat_type }})</span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}

        </div>
        <div class="col-md-6">

            {% if issues.count %}
            <h3>{% trans 'Issues' %}</h3>
            <table class="table">
                {% for issue in issues reversed %}
                    {% ifchanged issue.parliament.parliament_num %}
                        <tr><th>{{ issue.parliament.parliament_num }}. {% trans 'parliament' %}</th></tr>
                    {% endifchanged %}
                    {% include 'core/stub/small/issue.html' %}
                {% endfor %}
            </table>
            {% endif %}

            {% if special_discussions.count %}
            <h3>{% trans 'Special discussions' %}</h3>
            <table class="table">
                {% for issue in special_discussions reversed %}
                    {% ifchanged issue.parliament.parliament_num %}
                        <tr><th>{{ issue.parliament.parliament_num }}. {% trans 'parliament' %}</th></tr>
                    {% endifchanged %}
                    {% include 'core/stub/small/issue.html' %}
                {% endfor %}
            </table>
            {% endif %}

        </div>
    </div>


{% endblock %}
