{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="header-controls">
        <div class="btn-group">

            <a href="{% url 'auth_password_change' %}" class="btn btn-default btn-cs">{% trans 'Change Password' %}</a>
            {% if not home_user.userprofile.person %}
                <a href="{% url 'custom_profile_data' %}" class="btn btn-default">{% trans 'Change Profile' %}</a>
            {% endif %}
        </div>
    </div>

    <h2>{% trans 'User Home' %}</h2>

    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <th>{% trans 'Email address' %}</th>
                    <td><a href="mailto:{{ home_user.email }}">{{ home_user.email }}</a></td>
                </tr>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <td>
                        {% if home_user.userprofile.person %}
                            {% with home_user.userprofile.person as person %}
                                <a href="{% url 'person' person.slug person.subslug %}">{{ home_user.userprofile.name }}</a>
                            {% endwith %}
                        {% else %}
                            {{ home_user.userprofile.name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans 'Initials' %}</th>
                    <td>{{ home_user.userprofile.initials }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
        </div>
    </div>

{% endblock %}

