{% extends "base.html" %}
{% load i18n %}

{% block javascript %}
<script language="javascript" type="text/javascript">

$(document).ready(function() {
    $('[control="setting"]').on('switchChange.bootstrapSwitch', function(e, value) {
        var $setting = $(this);

        var name = $setting.attr('data-setting-name');

        $.jsonize({
            message: {
                'transit': 'Saving user setting...',
                'success': 'User setting saved.',
                'failure': 'Saving user setting failed!',
            },
            url: '/json/settings/set/' + name + '/' + value + '/',
            done: function(data, textStatus) {
            }
        });

    });
});

</script>
{% endblock %}

{% block content %}

    <div class="header-controls">
        <div class="btn-group">

            <a href="{% url 'auth_password_change' %}" class="btn btn-default btn-cs">{% trans 'Change Password' %}</a>
            {% if not home_user.userprofile.person %}
                <a href="{% url 'custom_profile_data' %}" class="btn btn-default">{% trans 'Change Profile' %}</a>
            {% endif %}
        </div>
    </div>

    <h2>{% trans 'User Home' %}</h2>

    <div class="row">
        <div class="col-md-6">

            <h3>{% trans 'User information' %}</h3>
            <table class="table">
                <tr>
                    <th>{% trans 'Email address' %}</th>
                    <td><a href="mailto:{{ home_user.email }}">{{ home_user.email }}</a></td>
                </tr>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <td>
                        {% if home_user.userprofile.person %}
                            {% with home_user.userprofile.person as person %}
                                <a href="{% url 'person' person.slug person.subslug %}">{{ home_user.userprofile.name }}</a>
                            {% endwith %}
                        {% else %}
                            {{ home_user.userprofile.name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans 'Initials' %}</th>
                    <td>{{ home_user.userprofile.initials }}</td>
                </tr>
            </table>

            <h3>{% trans 'Settings' %}</h3>
            <input type="checkbox" control="setting" data-setting-name="auto_monitor" {% if home_user.userprofile.setting_auto_monitor %}checked="checked"{% endif %} />
            &nbsp;
            {% trans 'Automatically monitor issues when worked on.' %}

        </div>

        {% if FEATURES.subscription_committee or FEATURES.subscription_category %}
        {% if subscriptions %}
        <div class="col-md-6">
            <h3>{% trans 'Subscriptions' %}</h3>

            {% for sub in subscriptions %}
                {% ifchanged sub.sub_type %}
                    <h4>{{ sub.get_sub_type_display }}</h4>
                {% endifchanged %}
                <p>
                    {% include 'core/stub/subscription.html' with type=sub.sub_type id=sub.subscribed_thing.id %}
                    <a href="{{ sub.subscribed_thing_link }}">{{ sub.subscribed_thing }}</a>
                </p>
            {% endfor %}

        </div>
        {% endif %}
        {% endif %}

    </div>

{% endblock %}

